################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactManagementAPI/ContactManagementAPI/bin
/ContactManagementAPI/ContactManagementAPI/obj/Debug
/ContactManagementAPI/ContactManagementDAL/obj/Debug
/ContactManagementAPI/ContactManagementEntities/obj/Debug
/ContactManagementAPI/ContactManagementDAL/bin/Debug
/ContactManagementAPI/ContactManagementEntities/bin/Debug
/ContactManagementAPI/packages
